html {
    background-color: black;
}
body {
    padding-left: 5px;
    padding-right: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

header {
    display: flex;
    background-color: deepskyblue;
    color: white;
    padding: 5px;
    align-items: center;
}

header .title {
    flex: 2;
}

nav {
    display: flex;
    flex: 3;
    justify-content: space-around;
    align-items: center;
}

.nav-item a:link {
    text-decoration: none;
    color: white;
}

#users #title{
    display: flex;
    color: grey;
}

#create-user {
    display: flex;
    justify-content: space-around;
    color: grey;
}

#create-user h1 {
    justify-content: center;
}

.first-name-section {
    display: flex;
}

.first-name-section label {
    flex: 1;
}

.first-name-section input[type = "text"] {
    flex: 3;
}

.last-name-section {
    display: flex;
}

.last-name-section label {
    flex: 1;
}

.last-name-section input[type="text"] {
    flex: 3;
}

.department-section {
    display: flex;
}

.department-section label {
    flex: 1;
}

.department-section select {
    flex: 3;
}

.user-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    width: 50%;
}

.user-form h1{
    justify-content: center;
}

.button-section {
    display: flex;
    justify-content: center;
}

input[type = "submit"]{
    background-color: deepskyblue;
    color: white;
}

#cards {
    display: flex;
    justify-content: center;
    color: grey;
}

#cards > div {
    display: flex;
    flex-wrap: wrap;
}

#cards .card {
    width: calc(100%/3 - 3rem - 10px);
    text-align: center;
    border: 1px solid grey;
    border-radius: 15px;
    margin: 1.5rem;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
    }

    header .title {
        text-align: left;
    }
    nav {
        flex-direction: column;
    }
    #create-user {
        flex-direction: column;
    }
    #cards {
        flex-direction: column;
    }

    #cards div {
        flex-direction: column;
    }
    .first-name-section {
        flex-direction: column;
    }
    .last-name-section {
        flex-direction: column;
    }
    .department-section {
        flex-direction: column;
    }
    .button-section {
        flex-direction: column;
    }
}